@font-face{
    font-family: Avenir;
    src: url("fonts/Avenir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* General page styling. */
* {
    margin: 0;
    padding: 0;
    font-family: Avenir, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}

/* Header specific styling. */
header {
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 1rem;
    padding: 0;
    text-align: center;
}

.logo-title {
    display: inline-block;
}

.header-logo {
    display: inline-block;
    margin-left: -5vw;
    margin-right: 1vw;
    padding: 0;
    vertical-align: middle;
}

.header-title-motto {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2vw;
}

.site-logo {
    width: auto;
    height: 15vw;
}

.site-title {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 5vw;
}

.site-motto {
    font-weight: bold;
    font-size: 1.25vw;
}

.search-form {
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.searchbar {
    margin-left: 10px;
    margin-bottom: 10px;
}

.searchbar input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    padding-left: 7px;
    padding-top: 6px;
    padding-right: 7px;
    padding-bottom: 5px;
    vertical-align: top;
    font-size: 1vw;
}

.searchbar input:hover {
    border: 1px solid #76AEDD;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
}

.search-button img {
  width: 1vw;
  margin-top: 1vh;
  color: #76AEDD;
}

.twitter-link{
    color: #1DA1F2;
    margin-left: 1vw;
    padding-right: .5vw;
}

.twitter-link:hover {
    cursor: pointer;
}

.fa-envelope {
}

.pow {
    display: inline-block;
    width: 12vw;
    height: 2.5vw;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 1vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-right: -2vw;
    box-shadow: 3px 3px #65b5a6;
    transition: box-shadow .125s linear, color .125s linear;
}

.pow:hover {
    display: inline-block;
    width: 12vw;
    height: 2.5vw;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 1vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-right: -2vw;
    box-shadow: -3px -3px #65b5a6;
    transition: box-shadow .125s linear, color .125s linear;
}

.tod {
    display: inline-block;
    width: 12vw;
    height: 2.5vw;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 1vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-right: -2vw;
    box-shadow: 3px 3px #65b5a6;
    transition: box-shadow .125s linear, color .125s linear;
}

.tod:hover {
    display: inline-block;
    width: 12vw;
    height: 2.5vw;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-size: 1vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-right: -2vw;
    box-shadow: -3px -3px #65b5a6;
    transition: box-shadow .125s linear, color .125s linear;
}


/* Navigation Bar Style */
nav {
    width: 100vw;
    text-align: center;
}

.main-nav ul {
    list-style-type: none;
    display: inline-block;
    font-size: 1.19vw;
    font-weight: bold;
    margin: 0 auto;
}
.main-nav li {
    display: inline;
}

.main-nav a {
    text-decoration: none;
    border-bottom: 2px solid black;
    color: black;
    float: left;
    font-weight: bold;
    padding-left: 1vw;
    padding-top: .75vh;
    padding-bottom: .5vh;
    padding-right: 4vw;
    transition: background-color .25s linear, color .25s linear;
}

@media screen and (max-width: 500px) {
  .main-nav a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color .25s linear, color .25s linear;
  }
}

.main-nav a:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border-bottom: 2px solid black;
    transition: background-color .25s linear, color .25s linear;
}

.main-nav .current {
    background-color: black;
    color: #ff2c7b;
    border-bottom: 2px solid black;
    position: relative;
}

.current::before {
    content: "";
    border: 12px solid black;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
}

/* Styling for Welcome */
.welcome {
    position: relative;
    text-align: center;
    margin-top: 3vh;
}

video {
    max-width: 67.25vw;
    height: auto;
    padding-left: 1vw;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 100%;
    font-weight: bold;
    font-size: 4vw;
}

/* Styling for practice JavaScript Search */
javascript {
    text-align: center;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-left: 20vw;
}

#myUL li {
  display: none;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  width: 60%;
  font-size: 18px;
  color: black;
  display: block;
  text-align: left;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}